.card-container {
    position: relative;
    width: 240px;
    border-radius: 1rem;
    overflow: hidden;
}

.card-image {
    display: block;
    width: 100%;
    transition: transform 0.3s ease;
}

.card-content {
    position: absolute;
    bottom: 10;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    padding: 1rem;
    transition: 0.5s ease;
}

.card-container:hover .card-content {
    height: 80%;
    background: rgba(0,0,0,0.5);
    bottom: 0;

}

.card-container:hover .card-image {
    transform: scale(1.05);
    filter: blur(3px);
}

.card-icons {
    display: flex;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}
