@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 max-md:text-xs bg-yellow-600 transition delay-75 text-white font-semibold rounded-md shadow-md hover:bg-white hover:text-yellow-600 transform duration-300 hover:scale-105;
  }

  .primary-color {
    @apply text-[#203B93]
  }

  .secondary-color {
    @apply text-[#f3BE54] font-medium
  }

  .heading {
    @apply text-4xl font-bold text-black leading-tight
  }

  /* service */

}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0%;
  padding: 0%;
  /* cursor: none; */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.text-yellow-600 {
  color: #d69e2e;
}

.mr-96 {
  margin-right: 24rem;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* index.css or specific component styles */

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-yellow-500 {
  background-color: #fbbf24;
}
.cursor {
  /* background-image: url("assets/cursor_logo.png"); */
  background: #d69e2e;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}