@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 max-md:text-xs bg-yellow-600 transition delay-75 text-white font-semibold rounded-md shadow-md hover:bg-white hover:text-yellow-600 transform duration-300 hover:scale-105 cursor-none;
  }

  .primary-color {
    @apply text-[#203B93]
  }

  .secondary-color {
    @apply text-[#f3BE54] font-medium
  }

  .heading {
    @apply text-4xl font-bold text-black leading-tight
  }

  /* service */

}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0%;
  padding: 0%;
  cursor:  none !important;
}
body{
  cursor: none !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* For Firefox */
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.text-yellow-600 {
  color: #d69e2e;
}

.mr-96 {
  margin-right: 24rem;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* index.css or specific component styles */

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-yellow-500 {
  background-color: #fbbf24;
}


/* .cursor {
  height: 40px;
  width: 40px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  } */
  .cursor{
    position: fixed;
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    background-image: url("assets/nicon.png");
  /* background-color: black; */
  border-radius: 50%;
  pointer-events: none;
  rotate: -230deg;

}
.parallax {
  transform: translateY(0);
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, and Opera */
}


.react-calendar {
  width: 315px !important; /* Adjust as needed */
  max-width: 100%;
  border: none !important;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
}

.react-calendar__tile {
  width: auto !important; /* Adjust tile width if needed */
}