@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply py-2 px-5 max-md:text-xs bg-yellow-600 transition delay-75 text-white font-semibold rounded-md shadow-md hover:bg-white hover:text-yellow-600 transform duration-300 hover:scale-105;
  }

  .primary-color {
    @apply text-[#203B93]
  }

  .secondary-color {
    @apply text-[#f3BE54] font-medium
  }

  .heading {
    @apply text-4xl font-bold text-black leading-tight
  }

  /* service */

}

* {
  font-family: "poppins", sans-serif;
  margin: 0%;
  padding: 0%;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

.bg-gray-200 {
  background-color: #edf2f7;
}

.text-yellow-600 {
  color: #d69e2e;
}

.mr-96 {
  margin-right: 24rem;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* index.css or specific component styles */

.bg-gray-100 {
  background-color: #f7fafc;
}

.bg-yellow-500 {
  background-color: #fbbf24;
}
